<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <application>
        <activity
            android:name=".core.actions.UnlockActivity"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name=".core.NotificationBackgroundService"
            android:enabled="true"
            android:exported="true" /> <!-- A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task. -->
        <service android:name=".core.ProxyService" />
        <service android:name=".fcm.FcmInstanceIdListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".fcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>