<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wix.reactnativenotifications">

    <application>
        <activity
            android:theme="@style/Theme.Transparent"
            android:name=".core.actions.UnlockActivity" />

        <service
            android:name=".core.actions.NotificationActionService"
            android:enabled="true"
            android:exported="true" /> <!-- A proxy-service that gives the library an opportunity to do some work before launching/resuming the actual application task. -->
        <service android:name=".core.ProxyService" />
        <service
            android:name=".fcm.FcmInstanceIdRefreshHandlerService"
            android:exported="false" />
    </application>

</manifest>